<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Facultad de Ingeniería</title>    
    <link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">   
    <header>            
        <div class="d-flex flex-column align-items-center py-3 mb-4 border-bottom">       
        <img alt="Logotipo" src="/images/unju-fi.png" width="100" height="100" class="me-3">
        <div class="text-center">            
            <h1 class="h3 mb-1">FACULTAD DE INGENIERÍA UNJu</h1>
            <h2 class="h5 text-muted">Siempre al servicio de la ciencia y la investigación</h2> 
        </div>
        <img alt="Fondo" src="/images/imagen-fondo-fi.jpg" class="img-fluid me-3">            
        </div>         
    </header>
    <nav>
        <div data-th-replace="~{layouts/nav::navbar}">
                   
        </div>
    </nav>
    
    <div class="row">
    <main id="contenidoPrincipal" class="col-md-9">
        <section id="facultad" class="mb-4">
            <h4>FI de la UNJu</h4>
            <p>La Facultad de Ingeniería – UNJu es una institución educativa ubicada en San Salvador de Jujuy, Jujuy, Argentina, que se especializa en la formación de profesionales en el campo de la ingeniería.</p>            
        </section>
        <section id="noticiasRecientes" class="mb-4">
            <h4>Noticias recientes</h4>
            <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">08 JUNIO 2024 | Éxito en la Presentación de Proyectos de Investigación en la Facultad de Ingeniería de la UNJu</h5>
                        <p class="card-text"> 
                            Desde la Secretaría de Ciencia y Técnica de la Facultad de Ingeniería, informaron que la presentación de los Proyectos de Investigación Básica y Aplicada, llevada a cabo del 13 al 24 de mayo del corriente año, fue un éxito rotundo. Se recibieron un total de 13 proyectos en las tres áreas aplicadas de esta convocatoria: informática, química y ciencias de la tierra<br>
                            En la categoría de informática, se incluyeron proyectos de las carreras de Ingeniería, Licenciatura en Sistemas, Analista Programador Universitario (APU), Tecnología Universitaria en Diseño Integral de Videojuegos y Licenciatura en Informática Educativa. En el área de química, participaron Ingeniería Química y Licenciatura en Tecnología de los Alimentos. Por último, en ciencias de la tierra, se incluyeron Ingeniería de Minas y Licenciatura en Ciencias Geológicas. Todos los proyectos presentados fueron de carácter interno de esta unidad académica.<br>
                            Estos proyectos pasaron a la etapa de evaluación el viernes 31 de mayo, y los resultados serán informados dentro de tres semanas aproximadamente, comenzando su ejecución a partir del 1 de agosto de 2024 hasta el 31 de julio de 2025. Además, recibirán un incentivo de 50 mil pesos cada uno de los proyectos aprobados, financiados con fondos propios de la Facultad de Ingeniería. En cuanto al número de proyectos presentados por área, fue la siguiente: cinco proyectos en Ciencias de la Tierra, tres en Química y cinco en Informática. 
                            De los proyectos presentados, serán seleccionados cinco por área..<br>
                            Esta convocatoria tuvo como objetivo incentivar a los docentes que no estén categorizados o se encuentren en las categorías IV o V, o tengan antecedentes equivalentes a dichas categorías, a generar antecedentes competitivos para futuras convocatorias. También se buscó integrar a los docentes que no pertenezcan a ningún grupo de investigación, 
                            así como a alumnos y egresados, con el fin de que formen equipos y comiencen su recorrido en la investigación científica en los diversos temas que competen a la Facultad.
                            La Facultad de Ingeniería continúa fomentando la investigación y el desarrollo, reafirmando su compromiso con el avance científico y tecnológico.<br>
                        </p>
                    </div>
            </div>                                                                         
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">10 JUNIO 2024 |"La Geología es la Superestrella de las Ciencias" - Por el geólogo César E. González Barry</h5>
                    <p class="card-text">El 9 de junio de 1948 se instituyó el Día del Geólogo, es por ello que los profesionales celebran su día en esta fecha. 
                       Los avances de la tecnología en este siglo XXI hacen que la Geología tenga mayor relevancia, especialmente por las materias primas necesarias por el continuo desafío que ello significa, amén de la mayor demanda debido al crecimiento poblacional.<br>
                       Si bien la Geología es el estudio de la Tierra en sentido amplio, también describe e interpreta su composición, estructura, evolución y dinámica actual, siendo un importante factor de desarrollo económico y social. <br>
                   	   Es conveniente recordar que, cuando se celebró el Año Internacional del Planeta Tierra en el 2008, auspiciado por la Unesco y la Unión Internacional de Ciencias Geológicas (Iugs), su finalidad fue concientizar a los gobiernos y al mundo entero sobre la necesidad de conocer y utilizar la Geología, cuyos progresos permiten cada vez más un mejor entendimiento de la dinámica de nuestro planeta.<br>
                   	   En ese sentido, entender la Tierra siempre constituyó todo un reto para los geólogos, porque se trata de un cuerpo dinámico con muchas partes que interaccionan y una historia larga y compleja a través de millones de años de evolución. Los cambios que se generan continuamente algunas veces son rápidos y violentos, especialmente cuando se producen deslizamientos o erupciones volcánicas. Otras veces, los cambios son tan lentos que no se aprecian durante toda una vida humana.<br>
                   </p>
               </div>
            </div>                                                
        </section>                          
        <section id="nosotros" class="mb-4">
            <h3 class="h4">Sobre nosotros</h3>
            <p>Actualmente más de mil aspirantes nos eligen cada año y alrededor de cuatro mil alumnas/os cursan materias en la Facultad de Ingeniería.<br>
               Sus egresadas/os están insertos en el medio local, regional, nacional e internacional, alcanzando actualmente una tasa de alrededor de ochenta y cinco egresados por año.<br>
               Con veinte carreras ofrecidas, todas ellas de alto impacto en la industria, la Facultad de Ingeniería - UNJu demuestra que es posible mantener las convicciones, estimular las vocaciones, y establecer la finalidad de todas las acciones que encaramos en beneficio de nuestras alumnas y alumnos.<br>
            </p>
        </section>                                   
        <section id="carreras" class="mb-4">
            <div>
                <h5>CARRERAS DE GRADO</h5>
                <ul>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-ing-quimica">INGENIERÍA QUÍMICA</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-ing-de-minas">INGENIERÍA DE MINAS</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-ing-industrial">INGENIERÍA INDUSTRIAL</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-ing-informatica">INGENIERÍA INFORMÁTICA</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-lic-en-sistemas">LICENCIATURA EN SISTEMAS</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-lic-en-tecn-de-los-alimentos">LICENCIATURA EN TECNOLOGÍA DE LOS ALIMENTOS</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-lic-en-cs-geologicas">LICENCIATURA EN CIENCIAS GEOLÓGICAS</a></li>                    
                </ul>
                <h5>CARRERAS DE PREGRADO</h5>
                <ul>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-analista-programador-universitario">ANALISTA PROGRAMADOR UNIVERSITARIO</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/tecnicatura-universitaria-en-div">TECNICATURA UNIVERSITARIA EN DISEÑO INTEGRAL DE VIDEOJUEGOS</a></li>
                    <li><a href="https://www.fi.unju.edu.ar/perfil-y-alcance-tec-univ-en-perforaciones">TECNICATURA UNIVERSITARIA EN PERFORACIONES</a></li>                                    
                </ul>
                <h5>Convenio UNT</h5>
                <ul>
                    <li><a href="https://www.fi.unju.edu.ar/carreras/cunt.html">Lic. en Biotecnología, Lic. en Química, Bióquímica y Farmacia</a></li>
                </ul>
            </div>                     
        </section>
        <section id="noticias">
            <h4>Noticias</h4>        
            <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">07 JUNIO 2024 | Innovadores Dispositivos de Impresión 3D para la Asociación Todos Juntos: Un Proyecto de Ingeniería Industrial de la FI UNJu</h5>
                        <p class="card-text">La cátedra de Diseño I y II de la carrera de Ingeniería Industrial de la Facultad de Ingeniería de la UNJu entregó, por tercer año consecutivo, dispositivos de impresión 3D a la Asociación Todos Juntos. El evento contó con la presencia del Decano, Ing. Luis Alejandro Vargas, y de la Secretaria de Extensión, Coordinación y Planificación, Esp. Ing. Margarita Ivanovich. Estos diseños exclusivos están destinados a estudiantes que asisten a esta asociación sin fines de lucro y abordan problemáticas específicas.<br>
                            En esta oportunidad, los alumnos que cursaron estas asignaturas de carácter optativo, elaboraron cuatro objetos específicos para usuarios con Síndrome de Down en el área de Kinesiología. Los dispositivos están centrados en el entrenamiento de la extensión y flexión de los dedos de las manos, con el fin de fortalecer la musculatura de estas extremidades. Los objetos, tanto el packaging como los equipos, fueron impresos en tecnología 3D y no se encuentran en el mercado, ya que fueron creados desde cero en base a un año de estudio y convivencia con los usuarios, con el apoyo del cuerpo profesional de la Asociación.<br>
                        </p>
                    </div>
            </div>                                                                         
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">06 JUNIO 2024 | Celebramos el Día de la Ingeniería</h5>
                    <p class="card-text">Cada 6 de junio, rendimos homenaje a una de las profesiones más vitales para el desarrollo y bienestar de nuestra sociedad: la ingeniería. Esta fecha, establecida en conmemoración de la primera graduación de un ingeniero en el país en 1870, nos brinda la oportunidad de reflexionar sobre el impacto y la importancia de esta disciplina en nuestro día a día.<br>
                       La ingeniería es mucho más que una carrera; es el motor que impulsa el progreso tecnológico, económico y social. Los ingenieros y las ingenieras son los artífices de las infraestructuras que facilitan nuestra vida diaria, desde los puentes y carreteras que conectan nuestras ciudades hasta las innovaciones tecnológicas que transforman nuestras comunicaciones y nuestra manera de interactuar con el mundo.<br>
                       En Argentina, la ingeniería ha jugado un papel crucial en el desarrollo de sectores clave como la construcción, la energía, la informática, la biotecnología y muchos otros. Cada logro y avance en estas áreas refleja el esfuerzo, la creatividad y el compromiso de miles de profesionales que, día tras día, trabajan incansablemente para encontrar soluciones a los desafíos que enfrentamos como sociedad.<br>
                       Este Día de la Ingeniería es una oportunidad para reconocer y agradecer a todos los ingenieros y las ingenieras por su dedicación y por su papel esencial en la construcción de un futuro más sostenible y equitativo. Su capacidad para innovar y adaptarse a las cambiantes necesidades del mundo moderno es fundamental para el crecimiento y la resiliencia de nuestra nación.<br>
                       Esta celebración no solo destaca el pasado y presente de la ingeniería en nuestro país, sino que también nos invita a mirar hacia adelante con optimismo y determinación, sabiendo que con la pericia y el ingenio de nuestros profesionales, estamos en buenas manos para enfrentar los retos del mañana.<br>
                       ¡Feliz Día de la Ingeniería!<br>
               </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">05 JUNIO 2024 | Semana de la Ingeniería 2024 - Centro Argentino de Ingenieros</h5>
                    <div class="text-center">
                         <img alt="imagen_noticia" src="/images/noticias-fi-unju1.jpg" width="500" height="300" class="img-fluid me-3">                                                                 
                    </div>
                    <p class="card-text"> Llega la Semana de la Ingeniería: El desafío de alimentar al mundo. <br>
                        Será el 11, 12 y 13 de junio, y el tema de este año será la industria de alimentos y bebidas, bajo el lema "Argentina: de granero del mundo a las góndolas internacionales". Se llevará a cabo de forma presencial y vía streaming. La inscripción ya se encuentra abierta.<br>
                        El 11, 12 y 13 de junio, el Centro Argentino de Ingenieros llevará adelante la Semana de la Ingeniería, que se realiza ininterrumpidamente desde 1937, y este año tendrá como foco la industria de Alimentos. Javier Goñi, gerente general de Ledesma, presidirá el evento del que participarán varios referentes de la industria, entre ellos, la Coordinadora de las Industrias de Productos Alimenticios (COPAL) y empresas como Arcor, Nestlé, Mondelez, Quilmes y Danone, entre otras.<br>
                        A lo largo de los tres días, y desde distintos paneles, se abordarán los desafíos y las oportunidades de una industria pujante, que pasó de ser una exportadora de commodities a sumar valor agregado para instalarse en las góndolas de distintos países del mundo. El evento contará con la presencia del secretario de Bioeconomía, Fernando Vilella, y el secretario de Relaciones Económicas Internacionales, Marcelo Cima. Además, tendrá como moderadoras a las periodistas Carolina Amoroso y Florencia Donovan; y Carla Martín Bonito, flamante presidente de la COPAL, participará como disertante.<br>
                        El evento es gratuito y se realizará en formato presencial, pero también vía streaming. Para más información e inscripciones, se puede ingresar al siguiente link: https://cai.org.ar/si2024/ <br>                         
                    </p>
               </div>
           </div>               
           <div class="card mb-3">
               <div class="card-body">
                   <h5 class="card-title"> 05 JUNIO 2024 | PREMIO PRE INGENIERIA DEL CAI 2024</h5>
                   <p class="card-text">El Centro Argentino de Ingenieros renueva otro año más su compromiso con la ingeniería y su importancia en la construcción del futuro de nuestro país. Con ese objetivo, pone en marcha el XXIV Concurso anual destinado a premiar los mejores trabajos de investigación y desarrollo producidos por alumnos del último año o recién recibidos , de las carreras universitarias de ingeniería en sus múltiples campos.<br>
                       Se cumplen 24 años continuos durante los cuales han sido galardonados, con los primeros lugares y distinguidos con menciones más de 225 estudiantes de más de 30 universidades a lo largo y a lo ancho del país. La variedad y calidad de los trabajos recibidos y luego premiados, es otro aliciente más para ratificar y reforzar la continuidad de este premio organizado e implementado por el CAI.<br>
                       El proceso de evaluación y premiación de los trabajos recibidos, exige la participación de numerosos profesionales acreditados en las diversas temáticas, haciendo de este evento anual, un importante hito de la profesión.<br>
                       La fecha límite de recepción de trabajos es el viernes 30 de agosto de 2024.<br>           
                   </p>
               </div> 
           </div>
       
        </section>
    </main> 
    <aside class="col-md-3">        
        <h5>Enlaces Recomendados</h5>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://www.fi.unju.edu.ar/institucional/historia.html">Historia</a></li>
            <li class="list-group-item"><a href="https://alumnos.unju.edu.ar/unju/">SIU Guaraní</a></li>
            <li class="list-group-item"><a href="https://www.fi.unju.edu.ar/servicios/biblioteca.html">Biblioteca</a></li>                                              
            <li class="list-group-item"><a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html">Calendario Académico</a></li>
            <li class="list-group-item"><a href="https://www.fi.unju.edu.ar/servicios/telefonos.html">Teléfonos</a></li>
            <li class="list-group-item"><a href="https://www.fi.unju.edu.ar/servicios/notas.html">Modelos de Notas</a></li>
            <li class="list-group-item"><a href="http://campus.fi.unju.edu.ar/">Campus FI</a></li>
            <li class="list-group-item"><a href="https://di3.fi.unju.edu.ar/">Doctorado en Ingeniería Industrial</a></li>
            <li class="list-group-item"><a href="http://dcyta.fi.unju.edu.ar/">Doctorado en Alimentos</a></li>
            <li class="list-group-item"><a href="http://www.becas.unju.edu.ar/">Becas UNJu</a></li>
            <li class="list-group-item"><a href="http://www.unju.edu.ar/sibunju/conssibunju.htm">Sistema de Bibliotecas de la UNJu</a></li>     
            <li class="list-group-item"><a href="/formularioCarrera">Formulario de Carrera</a></li>
            <li class="list-group-item"><a href="/formularioDocente">Formulario de Docente</a></li>                                   
            <li class="list-group-item"><a href="/formularioAlumno">Formulario de Alumno</a></li>
            <li class="list-group-item"><a href="/formularioMateria">Formulario de Materia</a></li> 
        </ul>        
    </aside>
    </div>
    <footer id="contacto">        
        <div data-th-replace="~{layouts/footer::paginacion}">
               
        </div>    
    </footer> 
    <script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    </div>
    </body>
</html>