<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>    
</head>
<body>
    <div class="container text-center" data-th-fragment="paginacion">       
        <div class="row">         
            <div class="col l6 s12">
                <h5 class="white-text">FACULTAD DE INGENIERÍA - UNJu</h5>
                <ul class="list-group">
                    <li class="list-group-item">Ítalo Palanca Nº 10</li>
                    <li class="list-group-item">San Salvador de Jujuy Jujuy - Argentina</li>
                    <li class="list-group-item"><a class="grey-text text-lighten-3" href="info@fi.unju.edu.ar">Correo</a></li>                                                  
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Redes Sociales</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a class="grey-text text-lighten-3" href="https://www.facebook.com/fiunju/">Facebook</a></li>
                    <li class="list-group-item"><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">YouTube</a></li>
                    <li class="list-group-item"><a class="grey-text text-lighten-3" href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">Linkedin</a></li>
                    <li class="list-group-item"><a class="grey-text text-lighten-3" href="https://www.instagram.com/fiunju/">Instagram</a></li>                                                                         
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2014-2024 - Facultad de Ingeniería - UNJu
            </div>
        </div>
    </div>
</body>
</html>