<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg bg-body-tertiary" data-th-fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#contenidoPrincipal">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#nosotros">Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#carreras">Carreras</a></li>                                      
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#contacto">Contacto</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Noticias                            
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#noticias">Noticias</a></li>
                            <li><a class="dropdown-item" href="#noticiasRecientes">Noticias recientes</a></li>                       
                        </ul>          
                    </li>
                </ul>                
            </div>
        </div>
    </nav>
</body>
</html>